@import 'colors';
@import 'mixins';

.formContainer {
  background-color: $white-color;
  width: 60%;
  margin-top: 0.5em;
  border: 1px solid $primary-color;
  @include box-shadow(0 5px 10px $shadow-color);
  padding: 2em;
  @include border-radius(2em);
}

.formField, .formFieldBig {
  @include border-radius(2em);
  border: 1px solid $primary-color;

  &.formFieldBig {
    @include border-radius(1em);
  }
}

.formButton {
  background-color: $primary-color;
  color: white;
  @include border-radius(2em);
}

.form-control:focus {
  border-color: $primary-color;
  box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
}

.form-check-input {
  border-color: $primary-color;

  &:checked {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

.custom-control-input {
  border-color: #ced4da;

  &:checked {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

.contactUs {
  padding: 2em;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  margin-top: 6em;
  color: $primary-color
}

/* tabletti */
@media screen and (min-width: 600px) and (max-width:1000px) {
  .formContainer {
      width: 100%;
      width:70%;
      margin-top: 0.5em;
  }
  .contactUs {
      padding: 2em;
      width: 80%;
  }
}

/* puhelin */
@media screen and (min-width: 420px) and (max-width:599px) {
  .formContainer {
      width: 100%;
      width:90%;
      margin-top: 0.5em;
  }
  .contactUs {
      padding: 2em;
  }
}
