body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a.nav-link:hover {
    color: white !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

a.nav-link.active {
    color: white !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.background-container {
    background-image: url('../media/login_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.loginContainer {
    background-color: white;
    width: 40%;
    margin-top: calc(10vh + 60px);
    margin-bottom: 2em;
    border: 1px solid #ff5959;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border-radius: 2em;
}

.loginEmail {
    border-radius: 2em;
    border: 1px solid #ff5959;
}

.loginButton {
    background-color: #ff5959;
    color: white;
    border-radius: 2em;

}

.loginCancel {
    border-color: #ff5959;
    color:#ff5959;
    border-radius: 2em;
    margin-top: 0.4em;
}

.form-control:focus {
    border-color: #ff5959;
    box-shadow: 0 0 0 0.2rem rgba(255, 89, 89, 0.25);
}

.custom-control-input {
    border-color: #ced4da;
}

.custom-control-input:checked {
    border-color: #ff5959;
    background-color: #ff5959;
}
    
/* puhelin */
@media screen and (min-width: 420px) and (max-width:599px){
    .loginContainer {
        width: 90%;

    }
}

/* tabletti */
@media screen and (min-width: 600px) and (max-width:1000px) {
    .loginContainer {
        width:70%;

    }
}

