@import 'colors';
@import 'mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

blockquote {
  @include block-quote;
}

//nav tyylit

a.nav-link:hover, a.nav-link.active {
  color: $white-color !important;
  text-shadow: 0 0 10px rgba($white-color, 0.5);
}

.navbar-brand:hover {
  text-shadow: 0 0 10px rgba($white-color, 0.5); 
}

//nav animaatiot

.navbar-brand {
  transition: text-shadow 0.3s ease, box-shadow 0.3s ease;
}

.navbar-nav a {
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
// nav loppuu

//header tyylit
.containerHeader {
  max-width: 100%;
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: $primary-color;
  color: $white-color;
  margin-left: 0;
  margin-right: 0; 
  padding-left: 0; 
  padding-right: 0;
  height: 100vh;
}

.containerHeaderImage {
  margin-right: 0;
  margin-bottom: 3em;
  margin-top: 5em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  justify-content: center;  // tarkista isolla näytöllä
  vertical-align: middle;  //tarkista isolla näytöllä
}
.headerText {
  margin-top: 5em;
  margin-left: 5em;
  margin-bottom: 2em;
  justify-content: center;  // tarkista isolla näytöllä
  align-items: center;
  vertical-align: middle;  // tarkista isolla näytöllä
}

.roundedImage {
  @include border-radius(20px);
  max-width: 100%;
  height: auto;
  margin: auto;
}

.containerHeader h1 {
  font-size: 300%;
  font-weight: bold;
  margin-top: 1em;
}

//header päättyy

.planText {
  padding: 1em;
  margin-top: 1.5em;
}

.productContainer, .infoContainer, .cartContainer {
  margin: 2em;
  @include box-shadow(0 5px 10px $shadow-color);
  @include border-radius(2em);
  padding: 1.5em;
}

.productContainer {
  padding: 1.5em;
  margin: 2em;
}


// napit alkaa (mixin)

.productButton, .productButtonRed, .buttonFilled, .buttonOutline, .contactButton {
  @include border-radius(2em);
}

.contactButton {
  @include redButton($white-color, $primary-color, 5%, 30%);
}


.productButtonRed {
  @include redButton($primary-color, $white-color, 5%, 30%);
}

//napit päättyy

.infoContainer {
  padding: 2em;
  margin: 1em;
  margin-top: 4em;
  margin-bottom: 1em;
  @include border-radius(2em);
  overflow: hidden;
  display: flex;
  align-items: center;
}


.infoText {
  text-align: left;
  margin-left: 2em;
  padding: 1em;
}

.infoText2 {
  text-align: left;
  margin-left: 1em;
  padding: 1em;
}

.cartContainer {
  padding: 2em;
  margin: 2em;
  @include border-radius(2em);
}


.mainFooter {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  color: $white-color;
  margin-top: 3em;
}

.iconFooter {
  margin-right: 0.3em;
}


/* puhelin */
@media screen and (max-width:600px){
  .containerHeader{
    height: auto;
  }
  .containerHeaderImage {
    border-radius: 0;
    margin-top: 1.3em;
  }
  .productContainer{
    width: 90%;
    margin: 2em auto;
  }
  .planText {
    padding: 1.5em;
  }
  .infoContainer {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-top: 1em;
    padding: 0.5em;
  }
  .infoText {
    width: 100%;
    margin: 0 auto;
  }
  .infoText2 {
    width: 100%;
    margin: 0 auto;
  }
  .navbar-brand img {
    margin-left: 0.2em !important;
  }
}

/* tabletti */
@media screen and (max-width:992px) {
  .containerHeader{
    height: auto;
  }
  .containerHeaderImage {
    border-radius: 0;
    margin-top: 1.3em;
    margin-bottom: 0;
  }
  .headerText {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 3em;
    margin-right: auto;
    padding: 4em;
  }
  .productContainer {
    width: 90%;
    margin: 1em auto;
  }
  .planText {
    padding: 1.5em;
  }
  .infoContainer {
    flex-direction: row;
  }
  .infoText{
    width: 100%;
    margin: 0 auto;
  }
  .infoText2 {
    width: 100%;
    margin: 0 auto;
  }
  .navbar-brand img {
    margin-left: 0.2em !important;
  }

}


@media screen and (min-width:1281px) {
  .headerText{
    margin-top: 10em;
  }
}
