@import 'colors';

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
  }
  
  @mixin box-shadow($shadow) {
    box-shadow: $shadow;
  }

  @mixin block-quote {
    font-style: italic;
    font-size: 150%;
    margin-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
    color: $quote-color;
  }

  @mixin redButton($background, $text, $hover-darken, $active-darken) {
    background-color: $background;
    color: $text;
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &:hover {
      background-color: darken($background, $hover-darken);
      color: $text;
    }
  
    &:active {
      background-color: darken($background, $active-darken);
      color: $text;
    }
  }
