body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.containerHeader {
    margin-top: 20em;
    margin-bottom: 20em;
    margin-left: 7em;
    color: white;
    text-align: left;
}

.containerHeaderImage {
    margin-top: 20em;
    margin-bottom: 20em;
    margin-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.roundedImage {
    border-radius: 20px;
}

.containerHeader h1 {
    font-size: 300%;
    font-weight: bold;
    margin-top: 1em;
}

.productContainer {
    margin: 5em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border-radius: 2em;
    height: 200px; /*Väliaikainen*/
}

.productButton {
    background-color: white;
    color: #ff5959;
    border-radius: 2em;
}

.buttonFilled {
    background-color: #ff5959;
    color: white;
    border-radius: 2em;

}

.buttonOutline {
    border-color: #ff5959;
    color:#ff5959;
    border-radius: 2em;
}

.infoContainer {
    padding: 2em;
    margin: 2em;
    margin-top: 4em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
}

.cartContainer {
    padding: 2em;
    margin: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
}

.infoText {
    text-align: left;
    margin-left: 5em;
}

.mainFooter {
    background-color: #ff5959;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.iconFooter {
    margin-right: 0.3em;
}

  

